/* Container */
/* Small Screens */
@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header */
@media (min-width: 768) {
  header .mega-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  header {
    padding: 30px 0;
  }
  header .container {
    padding: 0 15px;
    min-height: auto;
  }
  header .logo .image {
    width: 178px;
  }
  header .container nav .main-nav li .link {
    display: none;
    padding: 4px 12px;
  }
  header .container nav .main-nav .bars {
    display: unset;
    width: 30px;
    height: 30px;
    font-size: 30px;
  }
}
/* End Header */

/* Landing */
@media (max-width: 767px) {
  .landing {
    position: unset;
    min-height: 100vh;
    justify-content: center;
  }
  .landing::before {
    position: unset;
  }
  .landing .row {
    top: 17%;
    transform: unset;
    flex-direction: column;
  }
  .landing .row .col {
    max-width: 100%;
    padding: 0;
  }
  .landing .row .col .text {
    margin: auto;
  }
  .landing .row .col .text h1 {
    font-size: 47px;
    line-height: 66px;
    padding-bottom: 10px;
  }
  .landing .row .col .image {
    margin: 0;
    padding: 15px 15px 0;
  }
}

/* About US */
@media (max-width: 767px) {
  .about-us {
    padding-top: 90px;
  }
  .about-us .row {
    flex-direction: column;
  }
  .about-us .row .col-1 {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }
  .about-us .row .col-2 {
    width: 100%;
    padding-left: 0;
  }
  .about-us .row .col-1 .image,
  .about-us .row .col-2 .text {
    margin-left: 0;
  }
}

/* Order */
@media (max-width: 767px) {
  .order .our-juice .box {
    max-width: 100%;
  }
  .order .our-juice .row-1 {
    flex-direction: column;
  }
  .order .our-juice .row-2 {
    gap: 0;
  }
  .order .our-juice .row-2 .middle {
    transform: unset;
  }
}

/* Testimonial */
@media (min-width: 768px) {
  .testimonial {
    padding: 60px 0 400px;
  }
}

/* Footer Contact Us */
@media (min-width: 768px) {
  footer::before {
    content: "";
    position: absolute;
    width: 457px;
    height: 351px;
    top: -334px;
    right: 154px;
    background-image: url(../images/con_top.png);
    background-repeat: no-repeat;
    z-index: 4;
  }
  footer::after {
    content: "";
    position: absolute;
    height: 300px;
    top: -300px;
    right: 0;
    left: 0;
    background-image: url(../images/contact_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  footer .box .header {
    padding: 0 15px;
  }
  footer .box {
    margin-left: 8.33333%;
    max-width: 83.333%;
  }
  footer .box form {
    padding: 0 15px;
  }
  footer .box form .rows .row-1 {
    padding: 0 15px;
  }
  footer .box form .rows .row-2 {
    width: 58.33333%;
    padding: 0 15px;
  }
  footer .box form .rows .row-3 .phone {
    width: 58.33333%;
    padding: 0 15px;
  }
  footer .box form .rows .row-3 .social {
    width: 41.666667%;
    padding: 0 15px;
  }
  footer .box form .rows .row-4 {
    padding: 0 15px;
  }
  footer .box form .rows .row-5 {
    padding: 0 15px;
  }
  footer .box .row-6 {
    padding-left: 15px;
    transform: translateY(-94px);
    position: absolute;
  }
}

@media (max-width: 767px) {
  footer .box form .rows {
    margin: 0;
  }
  footer .box form .rows .row-3 {
    flex-wrap: wrap;
    justify-content: end;
  }
  footer .box form .rows .row-3 .phone {
    width: 100%;
  }
  footer .box form .rows .row-3 .social {
    margin-top: 20px;
  }
}
