/* Start Variables */
:root {
}
/* End Variabls */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}
p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-heading {
  text-align: center;
  padding-bottom: 60px;
}
.main-heading h2 {
  font-size: 40px;
  line-height: 52px;
}
.main-heading p {
  color: #5a5959;
  font-size: 17px;
  font-weight: 500;
  padding-top: 20px;
  line-height: 32px;
}
::placeholder {
  color: #fff;
}
/* End Global Rules */
/* Header */
header {
  padding: 0 30px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 110px;
  padding: 0 30px;
}
header .main-nav > .bars:hover .mega-menu {
  opacity: 1;
  z-index: 2;
  top: calc(100% - 5px);
  height: auto;
}
header .mega-menu {
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  margin: 0 15px;
  padding: 20px;
  background-color: #440e62;
  color: #fff;
  display: flex;
  top: calc(100% + 50px);
  flex-direction: column;
  opacity: 0;
  z-index: -1;
  transition: top 0.3s, opacity 0.3s;
}
header .mega-menu li {
  padding: 10px 0;
}
header .mega-menu a {
  color: #fff;
}
header .logo img {
  width: 100%;
}
header .container nav .main-nav {
  display: flex;
  align-items: center;
}
header .container nav .main-nav li .link {
  color: #440e62;
  font-size: 17px;
  padding: 0 27px;
  transition: 0.2s;
}
header .container nav .main-nav li .active {
  color: #fff;
}
header .container nav .main-nav .link a:hover {
  color: #fff;
}
header .container nav .main-nav .bars {
  display: none;
}
header .container nav .main-nav .bars .mega{
  color: #fff;
}
/* End Header */

/* Landing */
.landing {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  min-height: 914px;
  position: relative;
  display: flex;
}
.landing::before {
  content: "";
  position: absolute;
  height: 762px;
  bottom: -221px;
  left: 0;
  right: 0;
  background-image: url(../images/banner_bottom_cross.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.landing .row {
  display: flex;
  position: relative;
  top: 37vh;
  transform: translateY(-50%);
}
.landing .row .col {
  max-width: 50%;
  padding: 0 15px;
}
.landing .row .col .text {
  text-align: left;
  margin-right: -93px;
}
.landing .row .col .text h1 {
  font-size: 72px;
  line-height: 78px;
  color: #fff;
}
.landing .row .col .text h1 span {
  color: #440e62;
}
.landing .row .col .text p {
  font-size: 17px;
  color: #fff;
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 50px;
}
.landing .row .col .text input[type="submit"] {
  font-size: 17px;
  font-weight: 300;
  background-color: #ffa30f;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  max-width: 190px;
  border: none;
  transition: 1s;
  cursor: pointer;
}
.landing .row .col .text input[type="submit"]:hover {
  background-color: #440e62;
}
.landing .row .col .image {
  position: absolute;
  margin-left: -110px;
  margin-top: 203px;
  z-index: 2;
}
.landing .row .col .image img {
  width: 100%;
}
.landing .row .col .bullets {
  position: absolute;
  bottom: -45px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-right: 21%;
  margin-left: 21%;
}
.landing .row .col .bullets li {
  width: 22px;
  height: 22px;
  background-color: yellow;
  border-radius: 50%;
  cursor: pointer;
}
.landing .row .col .bullets li:hover {
  background-color: #fff;
}
/* End Landing */
/* About Us */
.about-us {
  padding-top: 150px;
  position: relative;
}
.about-us .row {
  display: flex;
  align-items: center;
}
.about-us .row .col-1 {
  width: 58%;
  padding-right: 15px;
}
.about-us .row .col-1 .image {
  margin-left: -50px;
}
.about-us .row .col-1 .image img {
  width: 100%;
}
.about-us .row .col-2 {
  width: 42%;
  padding-left: 15px;
  text-align: right;
}
.about-us .row .col-2 .text {
  margin-left: -50px;
}
.about-us .row .col-2 .text h2 {
  font-size: 40px;
}
.about-us .row .col-2 .text p {
  color: #5a5959;
  font-size: 17px;
  line-height: 32px;
  font-weight: 300;
  padding: 30px 0 40px;
}
.about-us .row .col-2 .text input[type="submit"] {
  font-size: 17px;
  font-weight: 300;
  background-color: #ffa30f;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  max-width: 190px;
  border: none;
  transition: 1s;
  cursor: pointer;
}
.about-us .row .col-2 .text input[type="submit"]:hover {
  background-color: #440e62;
}
/* End About Us */

/* Order */
.order {
  padding-top: 90px;
  background-image: url(../images/our_bg.jpg);
  background-size: 100% 100%;
}
.order .our-juice .box {
  max-width: 350px;
}
.order .our-juice .box .image {
  box-shadow: 8px 0px 29px rgb(22 22 23 / 17%);
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px 0;
  height: 245px;
}
.order .our-juice .image img {
  max-width: 100%;
  height: auto;
}
.order .our-juice .box .text {
  text-align: center;
  padding: 35px 0;
}
.order .our-juice .box .text h1 {
  font-size: 29px;
  font-weight: normal;
  line-height: normal;
}
.order .our-juice .box .text h1 span {
  color: #ffa50e;
  font-weight: bolder;
}
.order .our-juice .box .text h3 {
  font-size: 29px;
  line-height: 34px;
  font-weight: normal;
}
.order .our-juice .box .text p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  color: #5a5959;
  padding: 20px 0;
}
.order .our-juice .box .text input[type=submit] {
  font-size: 17px;
  font-weight: 300;
  background-color: #ffa30f;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  max-width: 190px;
  border: none;
  transition: 1s;
  cursor: pointer;
}
.order .our-juice .box .text input[type=submit]:hover {
  background-color: #440e62;
}
.order .our-juice .row-1 {
  display: flex;
  justify-content: space-between;
}

.order .our-juice .row-2 {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr));
  gap: 45px;
}

.order .our-juice .row-2 .middle {
  transform: translateY(-271.73px);
}
/* End Order */

/* Testimonial */
.testimonial {
  padding: 60px 0 140px;
}
.testimonial .box {
  text-align: center;
  padding: 65px 30px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.testimonial .box .image img {
  max-width: 100%;
  height: auto;
}
.testimonial .box .text h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: 18px;
  width: 161px;
  border-bottom: 1px solid #440e62;
  margin: 0 auto;
  padding: 23px 0 12px;
}
.testimonial .box .text p {
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
  color: #5a5959;
  margin: 45px 0 15px;
}
.testimonial .box .text .bullets {
  position: absolute;
  bottom: -50px;
  left: 0;
  display: flex;
  gap: 6px;
  justify-content: center;
  width: 100%;
}
.testimonial .box .text .bullets li {
  width: 25px;
  height: 25px;
  background-color: #440e62;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.testimonial .box .text .bullets li:hover {
  background-color: #E5A124;
}
/* End Testimonial */
/* Footer Contact Us */
footer {
  padding-top: 85px;
  background-color: #440e62;
  position: relative;
}
footer .box .header {
  text-align: center;
}
footer .box .header h2 {
  color: #fff;
  font-size: 40px;
  line-height: 52px;
}
footer .box form .rows {
  margin: 0 -15px;
  padding: 50px 0;
}
footer .box form .rows .row-1 {
  max-width: 100%;
}
footer .box form .rows .row-1 input {
  border: none;
  padding: 0 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 45px;
  background: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #fff;
  outline: transparent;
}
footer .box form .rows .row-2 {
  max-width: 100%;
}
footer .box form .rows .row-2 input {
  border: none;
  padding: 0 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 45px;
  background: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #fff;
  outline: transparent;
}
footer .box form .rows .row-3 {
  max-width: 100%;
  display: flex;
}
footer .box form .rows .row-3 .phone input {
  border: none;
  padding: 0 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 45px;
  background: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #fff;
  outline: transparent;
}
footer .box form .rows .row-3 .social ul {
  display: flex;
  float: right;
}
footer .box form .rows .row-3 .social ul h3 {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  text-align: left;
  padding-top: 5px;
  padding-right: 30px;
}
footer .box form .rows .row-3 .social ul li {
  display: inline-block;
}
footer .box form .rows .row-3 .social ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 37px;
  height: 37px;
  font-size: 25px;
  border-radius: 50%;
  margin: 0 3px;
  color: #440e62;
  transition: 0.3s;
}
footer .box form .rows .row-3 .social ul li a:hover {
  background-color: #e5a124;
  color: #fff;
}
footer .box form .rows .row-4 {
  max-width: 100%;
}
footer .box form .rows .row-4 textarea {
  border: none;
  padding: 0 10px;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 80px;
  background: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #fff;
  outline: transparent;
  resize: none;
}
footer .box form .rows .row-5 {
  max-width: 100%;
  text-align: end;
}
footer .box form .rows .row-5 input {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background-color: #ee3112;
  max-width: 190px;
  width: 100%;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 10px 0;
  border: none;
  border-radius: 30px;
  line-height: 1.8;
  transition: 0.5s;
  cursor: pointer;
}
footer .box form .rows .row-5 input:hover {
  background-color: #e5a124;
  color: #000;
}
footer .box .row-6 ul {
  display: flex;
  flex-wrap: wrap;
}
footer .box .row-6 ul li {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  padding-bottom: 25px;
  padding-right: 25px;
}
footer .box .row-6 ul li a {
  font-size: 30px;
  padding-right: 15px;
  color: #fff;
  transition: 0.3s;
}
footer .box .row-6 ul li a:hover {
  color: #e5a124;
}
footer .copyright {
  margin-top: 30px;
  padding: 20px 0;
  background-color: #f4cb1e;
}
footer .copyright .row p {
  font-size: 17px;
  color: #fff;
  line-height: 22px;
  text-align: center;
  font-weight: 500;
}